<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="FileListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="Code.log"
          traceOutputOptions="DateTime" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="w3wp" value="C:\Windows\System32\inetsrv\w3wp.exe" />
    <add key="targetdir" value="D:\WebClients\code\WebClient\bin" />
    <add key="output" value="\\ldo-pkt-pc1150\Share\IIS\xml\" />
    <add key="filter" value="+[LorAppClinicalNar*]* +[LorAppCommon]* +[lorappcanned*]* +[LorAppCanned*]*"/>
    <add key="debugmode" value="-debug "/>
    <add key="opencover" value="D:\code coverage\opencover.4.6.519\OpenCover.Console.exe" />
    <add key="parameters" value="-skipautoprops -hideskipped:All -mergebyhash -enableperformancecounters"/>
  </appSettings>
</configuration>
