<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Palmmedia.ReportGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Palmmedia.ReportGenerator.Properties.Settings>
      <setting name="MaximumOfHistoricCoverageFiles" serializeAs="String">
        <value>100</value>
      </setting>
    </Palmmedia.ReportGenerator.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ComparePath" value="d:\temp\compare"/>
    <add key="BuildVersion" value="2.13"/>
    <add key="ID" value="2"/>

    <add key="mongodbconstring" value="172.26.1.19:27017:a:123"/>
    <add key="mongodb" value="CodeData"/>
    <add key="collection" value="test_collection"/>
    <add key="MongoRestAPI" value="http://172.26.1.29:28017/CodeData/test_collection/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
