<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="leftfilePath" value="D:\temp\2\" />
   <add key="rightfilePath" value="D:\temp\3\" />
   <add key="reportPath" value="D:\temp\compare\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>